<div class="container">
  <div  [hidden]="submitted">
    <h1>New alarm</h1>
    <form (ngSubmit)="onSubmit()" #alarmClockForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="newAlarmClock.name" name="name">
      </div>

      <div class="form-group">
        <label for="hour">Hours</label>
        <select [(ngModel)]="newAlarmClock.hour" name="hour" class="form-control" id="hour">
          <option>00</option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
        </select>
      </div>

      <div class="form-group">
        <label for="minute">Minutes</label>
        <select [(ngModel)]="newAlarmClock.minute" name="minute" class="form-control" id="minute">
          <option>00</option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
        </select>
      </div>

      <div class="checkbox">
        <label for="is_active">
          <input type="checkbox"> Active
        </label>
      </div>

      <div class="form-group">
        <label for="webradio">Web radio</label>
        <select class="form-control"  id="power"
                required
                [(ngModel)]="newAlarmClock.webradio" name="webradio">
          <option *ngFor="let webradio of webradios" [value]="webradio.id">{{webradio.name}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-default">Add</button>
    </form>

  </div>
</div>