<h1>
    <span>Settings</span>
</h1>
<br />
<h3>Volume</h3>
<div *ngIf="volumeLoaded" class="justify-content-center">
    <p>
        <ngb-progressbar type="success" [value]="volume.volume"></ngb-progressbar>
    </p>
    <div class="row justify-content-center">
        <div class="col col-lg-2">
            <button (click)="volumeDown()" class='btn btn-primary btn-lg btn-block'>
                <i class="fa fa-volume-down"></i></button>
        </div>
        <div class="col col-lg-2">
            <button (click)="volumeUp()" class='btn btn-primary btn-lg btn-block'>
                <i class="fa fa-volume-up"></i></button>
        </div>
    </div>
</div>
<br />
<h3>Backup MP3</h3>

<div class="table-responsive table-borderless">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-1">Current file</th>
                <th class="col-xs-1">Select</th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div *ngIf="backupFileName">
                        <div class="text-success">{{ backupFileName }}</div>
                    </div>
                    <div *ngIf="!backupFileName">
                        <div class="text-danger"><i class="fa fa-exclamation-triangle"></i> No backup file set</div>
                    </div>
                </td>
                <td>
                    <input type="file" id="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
                </td>
                <td>
                    <button (click)="uploadFileToActivity()" class="btn btn-success">Upload</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
