
<h1>Volume</h1>

<div *ngIf="volumeLoaded">
    <div class="progress">
        <progressbar value="{{currentVolume.volume}}">{{currentVolume.volume}}%</progressbar>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button (click)="reduceVolume()" type="button" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-6">
            <button (click)="increaseVolume()" type="button" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>