<div *ngIf="modalConfirmDeleteIsVisible" class="modal fade show in danger" id="ModalConfirmDeleteWebRadio" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm deletion</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="canceldeleteWebRadio()">Close</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteWebRadio(webRadioToDelete)">Delete</button>
      </div>
    </div>
  </div>
</div>
