<h3>Web radios</h3>


<a routerLink="/webradios/new" class="btn btn-success space-little">
    <span class="glyphicon glyphicon-plus"></span>
    Add web radio
</a>

<!-- list current web radio -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1 text-center">Name</th>
        <th class="col-xs-1 text-center">Play</th>
        <th class="col-xs-1 text-center">Edit</th>
        <th class="col-xs-1 text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let webradio of webradios">
        <td class="col-xs-1 text-center">{{webradio.name}}</td>
        <td class="col-xs-1 text-center">
          <a (click)="playWebRadio(webradio)" type="button" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-play"></span>
          </a>
        </td>
        <td class="col-xs-1 text-center">
          <a class="btn btn-default btn-sm" [routerLink]="['/webradios', webradio.id]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </td>
        <td class="col-xs-1 text-center">
          <a (click)="confirmDeleteWebRadio(webradio)" type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-confirm-delete-modal
[message]="message"
[modalConfirmDeleteIsVisible]="modalConfirmDeleteWebRadioIsVisible"
(onConfirm)="onConfirm($event)" >
</app-confirm-delete-modal>
