<app-popup></app-popup>
<div [hidden]="submitted">
  <h1>New alarm</h1>
  <form class="form-horizontal" (ngSubmit)="onSubmit()" #alarmClockForm="ngForm">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" required [(ngModel)]="newAlarmClock.name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="dayofweek" class="col-sm-2 control-label">Day of week</label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label for="monday">
            <input [(ngModel)]="newAlarmClock.monday" name="monday" type="checkbox"> Monday
          </label>
          <label for="tuesday">
            <input [(ngModel)]="newAlarmClock.tuesday" name="tuesday" type="checkbox"> Tuesday
          </label>
          <label for="wednesday">
            <input [(ngModel)]="newAlarmClock.wednesday" name="wednesday" type="checkbox"> Wednesday
          </label>
          <label for="thursday">
            <input [(ngModel)]="newAlarmClock.thursday" name="thursday" type="checkbox"> Thursday
          </label>
          <label for="friday">
            <input [(ngModel)]="newAlarmClock.friday" name="friday" type="checkbox"> Friday
          </label>
          <label for="saturday">
            <input [(ngModel)]="newAlarmClock.saturday" name="saturday" type="checkbox"> Saturday
          </label>
          <label for="Sunday">
            <input [(ngModel)]="newAlarmClock.sunday" name="sunday" type="checkbox"> Sunday
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="time" class="col-sm-2 control-label">Time</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <timepicker name="time" [(ngModel)]="timePicker" [showMeridian]="ismeridian" [hourStep]="1" [minuteStep]="1"></timepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="webradio" class="col-sm-2 control-label">Web radio</label>
      <div class="col-sm-10">
          <select class="form-control" id="webradio" required [(ngModel)]="newAlarmClock.webradio" name="webradio">
            <option *ngFor="let webradio of webradios" [ngValue]="webradio.id" >{{webradio.name}}</option>
          </select>
      </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">{{ newAlarmClock.id == null ? 'Add' : 'Update' }}</button>
    </div>
  </div>

  </form>
</div>
<!--<label for="time" class="col-sm-2">Time</label>
        <div class="row">
          <div class="col-xs-2">
            <select [(ngModel)]="newAlarmClock.hour" name="hour" class="form-control" id="hour">
            <option *ngFor="let hour of hour_list" [value]="hour">{{ hour < 10 ? '0' : '' }}{{hour}}</option>
          </select>
          </div>
          <div class="col-xs-2">
            <select [(ngModel)]="newAlarmClock.minute" name="minute" class="form-control" id="minute">
            <option *ngFor="let minute of minute_list" [value]="minute">{{ minute < 10 ? '0' : '' }}{{minute}}</option>
          </select>
          </div>
        </div>
        <div class="checkbox">
          <label for="is_active">
        <input [(ngModel)]="newAlarmClock.is_active" name="is_active" type="checkbox"> Active
      </label>
        </div>
        <div class="form-group">
          <label for="webradio">Web radio</label>
          <select class="form-control" id="webradio" required [(ngModel)]="newAlarmClock.webradio" name="webradio">
        <option *ngFor="let webradio of webradios" [ngValue]="webradio.id" >{{webradio.name}}</option>
      </select>
        </div>
        <button type="submit" class="btn btn-primary">{{ newAlarmClock.id == null ? 'Add' : 'Update' }}</button>-->