<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Piclodio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/homepage"
                data-toggle="collapse" data-target=".navbar-collapse.show">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/webradios"
                data-toggle="collapse" data-target=".navbar-collapse.show">Webradios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/alarms" data-toggle="collapse"
                    data-target=".navbar-collapse.show">Alarms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="/settings" data-toggle="collapse"
                    data-target=".navbar-collapse.show">Settings</a>
            </li>
        </ul>
    </div>
</nav>
