<br>
<br>
<a routerLink="/alarms/new" class="btn btn-success btn-sm">
  <span class="glyphicon glyphicon-plus"></span>
  New alarm
</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Day of week</th>
      <th>Time</th>
      <th>Edit</th>
      <th>Active</th>
      <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alarmclock of alarmclocks">
        <td class="col-md-1">{{alarmclock.name}}</td>
        <td class="col-md-1">
          <div class="col-xs-1"><span class="text-{{ monday ? 'primary' : 'muted' }}">Mo</span></div>
          <div class="col-xs-1"><span class="text-{{ tuesday ? 'primary' : 'muted' }}">Tu</span></div>
          <div class="col-xs-1"><span class="text-{{ wednesday ? 'primary' : 'muted' }}">We</span></div>
          <div class="col-xs-1"><span class="text-{{ thursday ? 'primary' : 'muted' }}">Th</span></div>
          <div class="col-xs-1"><span class="text-{{ friday ? 'primary' : 'muted' }}">Fr</span></div>
          <div class="col-xs-1"><span class="text-{{ saturday ? 'primary' : 'muted' }}">Sa</span></div>
          <div class="col-xs-1"><span class="text-{{ sunday ? 'primary' : 'muted' }}">Su</span></div>

        </td>
        <td class="col-md-1">{{alarmclock.hour}}:{{alarmclock.minute}}</td>
        <td class="col-md-1">
          <a [routerLink]="['/alarms', alarmclock.id]" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </td>
        <td class="col-md-1">
          <a (click)="switchActiveAlarmClock(alarmclock)" type="button" class="btn btn-{{ alarmclock.is_active ? 'primary' : 'default' }} btn-sm">
            <span class="glyphicon {{ alarmclock.is_active ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span>
          </a>
        </td>
        <td class="col-md-1">
          <a (click)="confirmDeleteAlarmClock(alarmclock)" type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
</table>


<app-confirm-delete-modal
[message]="message"
[modalConfirmDeleteIsVisible]="modalConfirmDeleteAlarmClockIsVisible"
(onConfirm)="onConfirm($event)" >
</app-confirm-delete-modal>
