<br>
<br>
<a routerLink="/alarms/new" class="btn btn-success space-little">
  <span class="glyphicon glyphicon-plus"></span>
  New alarm
</a>
<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1 text-center">Name</th>
        <th class="col-xs-1 text-center">Day of week</th>
        <th class="col-xs-1 text-center">Time</th>
        <th class="col-xs-1 text-center">Autostop</th>
        <th class="col-xs-1 text-center">Edit</th>
        <th class="col-xs-1 text-center">Active</th>
        <th class="col-xs-1 text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alarmclock of alarmclocks">
          <td class="col-md-1 text-center">{{alarmclock.name}}</td>
          <td class="col-md-2 text-center">
            <div class="col-xs-1"><span class="text-{{ alarmclock.monday ? 'success' : 'muted' }}">Mo</span></div>
            <div class="col-xs-1"><span class="text-{{ alarmclock.tuesday ? 'success' : 'muted' }}">Tu</span></div>
            <div class="col-xs-1"><span class="text-{{ alarmclock.wednesday ? 'success' : 'muted' }}">We</span></div>
            <div class="col-xs-1"><span class="text-{{ alarmclock.thursday ? 'success' : 'muted' }}">Th</span></div>
            <div class="col-xs-1"><span class="text-{{ alarmclock.friday ? 'success' : 'muted' }}">Fr</span></div>
            <div class="col-xs-1"><span class="text-{{ alarmclock.saturday ? 'success' : 'muted' }}">Sa</span></div>
            <div class="col-xs-1"><span class="text-{{ alarmclock.sunday ? 'success' : 'muted' }}">Su</span></div>

          </td>
          <td class="col-md-1 text-center">{{ alarmclock.hour < 10 ? '0' : '' }}{{alarmclock.hour}}:{{ alarmclock.minute < 10 ? '0' : '' }}{{alarmclock.minute}}</td>
          <td class="col-md-1 text-center">{{alarmclock.auto_stop_minutes}}</td>
          <td class="col-md-1 text-center">
            <a [routerLink]="['/alarms', alarmclock.id]" type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
          </td>
          <td class="col-md-1 text-center">
            <a (click)="switchActiveAlarmClock(alarmclock)" type="button" class="btn btn-{{ alarmclock.is_active ? 'success' : 'default' }} btn-sm">
              <span class="glyphicon {{ alarmclock.is_active ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span>
            </a>
          </td>
          <td class="col-md-1 text-center">
            <a (click)="confirmDeleteAlarmClock(alarmclock)" type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<app-confirm-delete-modal
[message]="message"
[modalConfirmDeleteIsVisible]="modalConfirmDeleteAlarmClockIsVisible"
(onConfirm)="onConfirm($event)" >
</app-confirm-delete-modal>
