<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/homepage">Piclodio</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/homepage">Homepage</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/webradios">Web radios</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/alarms">Alarms</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
