<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/homepage">Piclodio</a>
    </div>
  </div>
</nav>




<h1>
 Piclodio 3
</h1>

<a routerLink="/webradios">Web radios</a>
<a routerLink="/alarms">Alarm clock</a>
<router-outlet></router-outlet>
