<h3>Web radios</h3>

<a routerLink="/webradios/new" class="btn btn-success space-little">
    <i class="fa fa-plus"></i>
    Add web radio
</a>
<br><br>

<!-- list current web radio -->
<div class="table-responsive table-borderless">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-1 text-center">Name</th>
                <th class="col-xs-1 text-center">Play</th>
                <th class="col-xs-1 text-center">Edit</th>
                <th class="col-xs-1 text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let webradio of webradios">
                <td class="col-xs-1 text-center">
                    {{webradio.name}}
                </td>
                <td class="col-xs-1 text-center">
                    <a (click)="playWebRadio(webradio)" type="button" class="btn btn-success btn-sm">
                        <i class="fa fa-play"></i>
                    </a>
                </td>
                <td class="col-xs-1 text-center">
                    <a class="btn btn-info btn-sm" [routerLink]="['/webradios', webradio.id]">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td class="col-xs-1 text-center">
                    <a (click)="confirmDeleteWebRadio(content, webradio)" type="button" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm deletion</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Please confirm the deletion of the webradio {{ webRadioToDelete.name }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.close('cancel click')">Close</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('confirm click')">Delete</button>
    </div>
</ng-template>
