<h3>
  Rpi date</h3>
<div class="well">{{ clockString }}</div>
<h3>Active alarms</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1 text-center">Name</th>
        <th class="col-xs-1 text-center">Mo</th>
        <th class="col-xs-1 text-center">Tu</th>
        <th class="col-xs-1 text-center">We</th>
        <th class="col-xs-1 text-center">Th</th>
        <th class="col-xs-1 text-center">Fr</th>
        <th class="col-xs-1 text-center">Sa</th>
        <th class="col-xs-1 text-center">Su</th>
        <th class="col-xs-1 text-center">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let active_alarm of active_alarms">
        <td class="col-xs-1 text-center">{{active_alarm.name}}</td>
        <td class="col-xs-1 {{ active_alarm.monday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 {{ active_alarm.tuesday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 {{ active_alarm.wednesday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 {{ active_alarm.thursday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 {{ active_alarm.friday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 {{ active_alarm.saturday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 {{ active_alarm.sunday  ? 'success' : '' }}"></td>
        <td class="col-xs-1 text-center">{{ active_alarm.hour < 10 ? '0' : '' }}{{active_alarm.hour}}:{{ active_alarm.minute < 10 ? '0' : '' }}{{active_alarm.minute}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h3>Player</h3>
<div class="well" *ngFor="let active_webradio of active_webradios">{{active_webradio.name}}</div>
<div *ngIf="playerLoaded">
  <button (click)="switchPlayerStatus()" type="button" class="btn btn-{{ player.status == 'on' ? 'success' : 'default' }} btn-lg btn-block">Start</button>
  <button (click)="switchPlayerStatus()" type="button" class="btn btn-{{ player.status == 'off' ? 'danger' : 'default' }} btn-lg btn-block">Stop</button>
</div>