<div style="height: 100px;">
    <div *ngIf="!cloakLoaded" class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="cloakLoaded" class="justify-content-center">
        <h1 class="text-center">
            {{ clockString | date: 'HH:mm:ss' }}
        </h1>
        <h3 class="text-center">
            {{ clockString | date: 'EEEE, MMMM dd, yyyy' }}
        </h3>
    </div>
</div>

<h3>Active alarms</h3>
<div class="table-responsive table-borderless">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-1 text-center">Name</th>
                <th class="col-xs-1 text-center">Mo</th>
                <th class="col-xs-1 text-center">Tu</th>
                <th class="col-xs-1 text-center">We</th>
                <th class="col-xs-1 text-center">Th</th>
                <th class="col-xs-1 text-center">Fr</th>
                <th class="col-xs-1 text-center">Sa</th>
                <th class="col-xs-1 text-center">Su</th>
                <th class="col-xs-1 text-center">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let active_alarm of active_alarms">
                <td class="col-xs-1 text-center">{{active_alarm.name}}</td>
                <td class="col-xs-1 {{ active_alarm.monday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 {{ active_alarm.tuesday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 {{ active_alarm.wednesday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 {{ active_alarm.thursday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 {{ active_alarm.friday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 {{ active_alarm.saturday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 {{ active_alarm.sunday  ? 'table-success' : '' }}"></td>
                <td class="col-xs-1 text-center">
                    {{ active_alarm.hour < 10 ? '0' : '' }}{{active_alarm.hour}}:{{ active_alarm.minute < 10 ? '0' : '' }}{{active_alarm.minute}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<h3>Player</h3>

<div *ngIf="playerLoaded">
    <h2 class="text-center text-{{ player.active == true ? 'success' : 'default' }}"
        *ngFor="let active_webradio of active_webradios">
        {{active_webradio.name}}
    </h2>


    <div class="row justify-content-md-center">
        <div class="col">
            <button (click)="switchPlayerStatus()" type="button"
                class="btn btn-{{ player.active == false ? 'success' : 'default' }} btn-lg btn-block">Start</button>
        </div>
    </div>
    <div class="row justify-content-md-center top-buffer">
        <div class="col">
            <button (click)="switchPlayerStatus()" type="button"
                class="btn btn-{{ player.active == true ? 'danger' : 'default' }} btn-lg btn-block">Stop</button>
        </div>
    </div>
</div>