<h3>My web radio</h3>
Add web radio
<!-- form to create a new web radio -->
<form (ngSubmit)="onSubmit()" #webradioForm="ngForm">
  
  <input type="text" placeholder="name" autofocus="" id="name"
    [(ngModel)]="newWebradio.name" name="name" 
    required>
  <input type="text" placeholder="URL" autofocus="" id="url"
    [(ngModel)]="newWebradio.url" name="url"  
    required>

  <button type="submit" class="btn btn-default">Submit</button>


</form>

<!-- list current web radio -->
<ul class="webradios">
  <li *ngFor="let webradio of webradios">
    <span class="badge">{{webradio.id}}</span> {{webradio.name}} {{webradio.url}} {{webradio.is_active}} 
    <button class="destroy" (click)="deleteWebRadio(webradio)">X</button>
  </li>
</ul>

